.registrar{
    font-family: Arial, Helvetica, sans-serif; /* Definir las fuentes que se van a utilizar*/
    margin: 0;
    background: url(../imagenes/Buscando.jpg);
    background-size: cover; /* Permite cubrir la pantalla con una sola imagen*/
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}

.register {
    text-align: center;/* Centrar el titulo*/
    color: #1a2537;
    font-size: 40px;/* Tamaño de letra*/
}

input[type="text"], /* Entradas de texto*/
input[type="password"] { /* Con la coma se puede poner estilos a ambos tipos de input*/
    font-size: 20px;
    width: 82%;
    padding: 10px; /* El padding lo que permite es Expandir el espacio que tienen esas casillas*/
    border: none; /* Le quita los bordes*/
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

.parrafo{
    text-align: center;
}

.link__login{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link__login:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}